## Welcome to Python

a = 12

In [14]:
a

12

In [15]:
print(a)

12

# If we want to give comments in the Jupyter Notebook, all we need to do is 

1. Go to any specific cell line
2. Change the Drop Down Value from Code to MarkDown 

3. "#" and write text post this symbol eg: Heading 
4. "##" and write text post this symbol eg" Sub Heading 
5. "###" Description
6. "1." Chapter 1
7. "2." Chapter 2
7. 1. "7.1." Paragraph 1 in Chapter 2
7. 2. "7.2." Paragraph 2 in Chapter 2

# Example of the above Markdown Commenting 

# Write text post this symbol eg: Heading 
## Write text post this symbol eg" Sub Heading 
### Description
1. Chapter 1
2. Chapter 2
2. 1. Paragraph 1 in Chapter 2
2. 2. Paragraph 2 in Chapter 2

### Print function simply displays the result

## This symbol # and this ## acts like a comment

In [19]:
# a = 3
a = 5
a

5

In [21]:
## b = 7 
b = 10
b

10

## Is there any shorcut to get the new cells/rows created in Jupyter Notebook?

Yes, there is a simple shortcut to do that. i.e.

1. Go to any specific cell
2. Click on 'Esc' (Escape Key on the left top) on Keyboard
3. Click on the 'a' Key on the keyboard
4. You can add as many new cells in the Notebook

## This symbol """ """ acts like a multi line comment

In [24]:
""" 
c = 5
"""
c = 15
print(c)

15

## To get the explanation of a function like Print in Python

use Shift + Tab Together

In [26]:
"""
On clicking Shift + Tab together after the Print Function - we get 

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method
"""

"\nOn clicking Shift + Tab together after the Print Function - we get \n\nDocstring:\nprint(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)\n\nPrints the values to a stream, or to sys.stdout by default.\nOptional keyword arguments:\nfile:  a file-like object (stream); defaults to the current sys.stdout.\nsep:   string inserted between values, default a space.\nend:   string appended after the last value, default a newline.\nflush: whether to forcibly flush the stream.\nType:      builtin_function_or_method\n"

## How to display the text in multiple lines by typing in only one line

simply take the help of above explanation of the print statement where it mentions end = '\n'

# without the \n keyword in the print statement

In [27]:
print(" I am Sunil Kumar and am Passionate about learning Data Science. Are you too?")

 I am Sunil Kumar and am Passionate about learning Data Science. Are you too?

# with the \n keyword in the print statement

In [28]:
print(" I am Sunil Kumar and am Passionate about learning Data Science. \n Are you too?")

 I am Sunil Kumar and am Passionate about learning Data Science.
 Are you too?

# Variable Assignment

1. If we use "" or '' quotes in both the cases the assignment that happens is string data type
2. If we assign the value without using any string then the value stored is int type
3. If we assign the value with a decimal then the value stored in a float data type

In [31]:
name_double_quotes = "sunil"
name_single_quotes = 'sunil'
number = 10

In [32]:
name_double_quotes

'sunil'

In [33]:
name_single_quotes

'sunil'

In [34]:
number

10

## To check the data type of the Variable being used

We use the function type(variable name)

In [35]:
type(name_double_quotes)

str

In [36]:
type(name_single_quotes)

str

In [37]:
type(number)

int

In [1]:
type("sunil")

str

In [2]:
type(1)

int

In [ ]:
type(1.2)

float

In [6]:
type(100.0)

float

## Few things to remember
1. If a specific variable is already assigned before as number = 10 
and we can simply type n and press TAB key to get the number word in the cell we are working with

2. Python is case sensitive 
eg: Animal = "tiger" and ANIMAL = "goat" display different results when printed

3. Avoid using the variable names starting with a number 
eg: 1animal, 2animal instead use animal1, animal2

4. Print Keyword should have starting letter p small and not capital as it throws error when capital letter is used 
---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
Cell In[11], line 5
      3 print(Animal)
      4 print(ANIMAL)
----> 5 Print(Animal)

NameError: name 'Print' is not defined

In [ ]:
Animal = "tiger" 
ANIMAL = "goat"
print(Animal)
print(ANIMAL)
Print(Animal)

## Reserved Keywords like should never be used as variable names
print, int, float, bool, len, return, yield, str

eg: float = 32 etc

## Boolean Value Operations - True and False

In [13]:
True

True

In [14]:
False

False

In [15]:
True or False

True

In [16]:
True and False

False

In [17]:
not True

False

In [18]:
not False

True

In [19]:
type(True)

bool

In [20]:
type(False)

bool

In [21]:
type(not True)

bool

In [22]:
bool(0)

False

In [23]:
bool(1)

True

## We can use these Boolean conditons in if statement in python

In [26]:

x = 1
if bool(x) == True:
    print("x is True Boolean")

x is True Boolean

## Typecasting - Changing from one variable type to another variable type

In [36]:
# Eg integer to boolean

a = bool(1)
b = bool(0)
c = int(True)
d = int(False)

print("a is ", a ,"\n", "b is ", b ,"\n","c is ", c ,"\n","d is ", d ,"\n")
      
      #,"\n b is " b , "\n c is " c,"\n d is " d)

a is  True
 b is  False
 c is  1
 d is  0

In [42]:
## Number into string
no_as_string = str(25)
no_as_string

'25'

## print function returns the string 

print just shows the human user a string representing what is going on inside the computer. The computer cannot make use of that printing. return is how a function gives back a value. This value is often unseen by the human user, but it can be used by the computer in further functions.

In [44]:
## Number into string - being displayed by print function
no_as_string = str(25)
print(no_as_string)

25

In [48]:
## string to int

b= int('25')
b

25

In [47]:
type(b)

int

## Dynamic Typing
In python there is not need to define the type of the variable before storing the value 
as we do in C or Java, where we need to define int a, b, c or char x,y,z

In python it happens in run time directly and the interpreter understands it directly

In [49]:
# Variable a is storing a number and so its type is integer
a = 5
type(a)

int

In [50]:
# Variable b is storing a string and so its type is string
b = "Do you have a mentor in Life?"
type(b)

str

In [55]:
#If we assign a different type of data in the same earlier variable,
#the data type of the variable also changes - Let's add a string value to a
a = "I have a mentor to guide me in Life"
print(type(a))

<class 'str'>

In [57]:
int(1.25)

1

In [58]:
float(1)

1.0

## Concatenation between different data types

In [59]:
# Adding two strings will combine them
"I am" + "a Happy Person"

'I ama Happy Person'

In [61]:
# Adding two numers will add them
1 + 3

4

In [62]:
# Multiplying a string a number will give repeated values
"3" * 10

'3333333333'

In [63]:
# Multiplying a number a number will give product value
3 * 10

30

In [64]:
# Multiplying a string a number will give repeated values
10 * "int"

'intintintintintintintintintint'

In [65]:
# Adding a string with int will throw an error
"a" +  1

TypeError: can only concatenate str (not "int") to str

In [66]:
# We cannot multipy two strings as we need atleast one integer in both
"a" * "1"

TypeError: can't multiply sequence by non-int of type 'str'

In [67]:
# We can multiply a string with a type casted string
"2" * int("6")

'222222'

In [69]:
## boolean value for any value other than 0 gives True
print(bool(0),
bool(1),
bool(2),
bool(-1))

False True True True

In [70]:
type(bool(-1))

bool

In [5]:
aaa

int